@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
}

.book {
  margin-bottom: 1rem;
}

.book.finished span {
  text-decoration: line-through;
}

.book label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.book button {
  z-index: 2;
}
